body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 2500px;
  height: 100%;

  font-size: 18px;
  line-height: 2;
  font-family: 'Lora', serif;
  color: #1E1E1E;

  background-color: #FFFFFF;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  padding: auto;

  text-align: center;
}

h1 {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 20px;
  color: #002F64;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1px;
}

h2 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: #002F64;
  font-weight: lighter;
  letter-spacing: 4px;
}

img {
  display: flex;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  text-decoration: none
}

.th {
	margin: auto;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	
}

.th li {
	display: inline-flex;
	width: auto;
    margin-right: auto;
}

.m {
	margin-top: -15px;
	margin-bottom: auto;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.e {
	display: inline-flex;
	margin: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	width: auto;
	padding: 0px;
	
}

footer {
  margin: 100px auto 0;
  text-align: center;
  width: 100%;
  color: #002F64;
  font-size: 15px;
  letter-spacing: 0px;
}
