@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 2500px;
  height: 100%;

  font-size: 18px;
  line-height: 2;
  font-family: 'Lora', serif;
  color: #1E1E1E;

  background-color: #FFFFFF;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

}

main {
  padding: auto;

  text-align: center;
}

h1 {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 20px;
  color: #002F64;
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 1px;
}

h2 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  color: #002F64;
  font-weight: lighter;
  letter-spacing: 4px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
a {text-decoration: none;
}

.menu-main {
  list-style: none;
  margin: 10px 0 5px;
  padding: 5px 0 15px;
  text-align: center;
  background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 7px;
  margin: 0 34px 0 30px;
  font-size: 17px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #477FAD;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #477FAD;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: -1px;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 100%) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

img {
  display: flex;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  text-decoration: none
}

p {
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 2em;
  margin-bottom: -20px;
  padding-top: 0em;
  padding-bottom: 0em;
  color: #002F64;
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 2;
  text-indent: 0px;
  text-align: center;
}

#content {
text-align: center;
}

.th {
	margin: auto;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	
}

.th li {
	display: inline-flex;
	width: auto;
    margin-right: auto;
}

.m {
	margin-top: -12px;
	margin-bottom: auto;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
}

.e {
	display: inline-flex;
	margin: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding: 0px;
	
}

footer {
  margin: 100px auto 0;
  text-align: center;
  width: 100%;
  color: #002F64;
  font-size: 15px;
  letter-spacing: 0px;
}
